.DS_Store
/tex/Paper/Futility of mercantilist wars.synctex.gz
/tex/Paper/Futility of mercantilist wars.log
/tex/Paper/Futility of mercantilist wars.aux
/tex/Paper/Futility of mercantilist wars.bbl
/tex/Paper/Futility of mercantilist wars.blg
/tex/Paper/Futility of mercantilist wars.synctex.gz(busy)
/Cross-checking Hamburg Trade/Cross-checking Hamburg Trade.aux
/Cross-checking Hamburg Trade/Cross-checking Hamburg Trade.bbl
/Cross-checking Hamburg Trade/Cross-checking Hamburg Trade.blg
/Cross-checking Hamburg Trade/Cross-checking Hamburg Trade.log
/Cross-checking Hamburg Trade/Cross-checking Hamburg Trade.synctex.gz
/Impact of War/Paper/Futility of mercantilist wars.aux
/Impact of War/Paper/Futility of mercantilist wars.bbl
/Impact of War/Paper/Futility of mercantilist wars.blg
/Impact of War/Paper/Futility of mercantilist wars.log
/Impact of War/Paper/Futility of mercantilist wars.synctex.gz
/Impact of War/Paper/Futility of mercantilist wars.synctex.gz(busy)
/Impact of War/Paper/Abstract 3-5p.bbl
/Impact of War/Paper/Abstract 3-5p.blg
/Impact of War/Paper/Daudin Tirendelli -- Futility -- Abstract 3-5p.aux
/Impact of War/Paper/Daudin Tirendelli -- Futility -- Abstract 3-5p.bbl
/Impact of War/Paper/Daudin Tirendelli -- Futility -- Abstract 3-5p.blg
/Impact of War/Paper/Daudin Tirendelli -- Futility -- Abstract 3-5p.log
/Tables/.~lock.reg_choc_diff_poisson_hamburg_Blockade_Imports_noweight_0_0.csv\#
/Tables/.~lock.reg_choc_diff_reg_hamburg_Blockade_Imports_noweight_0_0.csv\#
/Tables/.~lock.reg_choc_diff_reg_hamburg_Blockade_Imports_value_0_0.csv\#
/Tables/.~lock.reg_choc_diff_reg_hamburg_Blockade_XI_noweight_0_0.csv\#
/Tables/.~lock.reg_choc_diff_reg_hamburg_Blockade_XI_noweight_0_1.csv\#
/Impact of War/Paper/Daudin Tirendelli -- Futility -- Abstract 3-5p.synctex.gz
temp.dta
*.blg
*.dvi
*.log
*.aux
*.gz
/Paper - Impact of War/Paper/Futility of mercantilist wars.synctex.gz
/Paper - Impact of War/Paper/Futility of mercantilist wars.log
/Paper - Impact of War/Paper/Futility of mercantilist wars.aux
Futility of mercantilist wars.aux
Futility of mercantilist wars.log
Futility of mercantilist wars.synctex.gz
How to wage a trade war.bbl
.~lock.Ashton_Schumpeter_Prize_data.csv\#
.~lock.PrizeNationalities.csv\#
/Abstracts/.Abstract_Daudin_Tirindelli_Clio.bbl.icloud
/Abstracts/.Abstract_Daudin_Tirindelli.synctex.gz.icloud
/Paper - Impact of War/Commented Versions/.Futility of mercantilist wars — comm GD.pdf.icloud
/Paper - Impact of War/Paper/How to wage a trade war 2.bbl
*.tdo
/Paper - Impact of War/Paper/How to wage a trade war.tdo
/Paper - Impact of War/Paper/How to wage a trade war.out
*.out
*.toc
/Results/Structural change/.~lock.Individual_reg_regional_Imports_all.csv\#
/Abstracts/EHA2021/Abstract_Daudin_Tirindelli.bbl
/Abstracts/EHA2021/Abstract_Daudin_Tirindelli.bcf
*.csv#
~$Résultats de la course française.xlsx
/External Data/~$Résultats de la course française.xlsx
/External Data/~$Hillmann Prize data.xlsx
~$McCusker_inflation from Hillmann 2024 09.xlsx
