.DS_Store
/tex/Paper/Futility of mercantilist wars.synctex.gz
/tex/Paper/Futility of mercantilist wars.log
/tex/Paper/Futility of mercantilist wars.aux
/tex/Paper/Futility of mercantilist wars.bbl
/tex/Paper/Futility of mercantilist wars.blg
/tex/Paper/Futility of mercantilist wars.synctex.gz(busy)
